@media screen and (max-width: 1350px) {

    .sousmilieu {
        width: 90%;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (max-width: 1199px) {
 
    .navbar-nav>li>a {
        font-size: 14px;
    } 
    
}

@media screen and (max-width: 991px) {


.container {
    
    > .navbar-header {
        float: none !important;
        margin: auto;
        margin-top: 10px;
    }
    > .navbar-collapse {
        float: none;
        margin-top: 5px;
    }
}
/*
.navbar-nav {
  float: left;
  margin: 0;
  margin-top: 0px;
  width: 100%;
  margin: 0!important;
  padding: 0!important;
}
*/
.navbar .container {
    min-height: 1px;
    max-height: 158px;
    overflow: hidden;
}
  
.navbar-nav {
    float: none;
    width: 625px;
    margin: auto;
    margin-top: 15px;
}
.ninja-forms-form-wrap .submit-wrap input {
  width: 100%!important;
}


   
    
}

@media screen and (max-width: 1200px) {
    
    .page-template-structure .actu .searchform input, .page-template-login .actu .searchform input, .page-template-actualites .actu .searchform input, .single-post .actu .searchform input, .search .actu .searchform input {
        margin-bottom: 15px;
        width: 100%;
    }
    .page-template-structure .actu .searchform #searchsubmit, .page-template-login .actu .searchform #searchsubmit, .page-template-actualites .actu .searchform #searchsubmit, .single-post .actu .searchform #searchsubmit, .search .actu .searchform #searchsubmit {
         width: 100%;
    }
}


@media screen and (max-width: 860px) {

    .sousmilieu > .row {
        top: -270px;
    }
}
@media screen and (max-width: 768px) {
    .ninja-forms-form-wrap input, .ninja-forms-form-wrap textarea, .ninja-forms-required-items {
        border: 1px solid grey;
    }
    .page-template-contact .mainmetier .ninja-forms-form-wrap .submit-wrap input, .page-template-espace-membre .mainmetier .ninja-forms-form-wrap .submit-wrap input, .page-template-galerie .mainmetier .ninja-forms-form-wrap .submit-wrap input {
        width: 50% !important;
    }
}

@media screen and (max-width: 700px) {
   
    .container {
        padding-right: 0;
        padding-left: 0;
    }
    .container > .navbar-header {
        float: left !important;
        margin: auto;
        margin-bottom: 15px !important;
        margin-top: 10px;
    }
    .navbar-nav > li > a {
        font-size: 15px;
        border: 0px;
        color: #222 !important;
    }
    .navbar-default {
        overflow: visible;   
    }
    .navbar-toggle {
        z-index: 9;
    }
    .navbar-nav {
        float: none;
        width: 100%;
        margin: auto;
        margin-top: 30px;
    }
    #bs-example-navbar-collapse-1 {
        background-color: #f7f7f7;
        margin: 0px;
        text-indent: 1px; 
        border: 0px;
        z-index: 8;
        width: 100%;
        height: auto !important;
        max-height: 435px;
        position: absolute;
    }
    .nav li:first-child a {
        padding-left: 15px;
    }
    
    .name {
        margin-right: 20px;
    }
    #galerie {
        margin-right: 7px;
    }
    
    .sousmilieu > .row {
        margin-top: 25px;
        position: relative;
        top: 0px;
    }
    .sousmilieu {
        overflow: hidden;
        width: 98%;
    }
    .push {
        margin-right: 0;
        width: 100%;
        
        h2 {
            padding-top: 20px;
        }
    }
    .pushimg {
        position: relative;
        top: 0;
    }
    .bas {
        margin-top: 0px;
        
        h3 {
            margin-top: 0px;
        }
        p {
            box-sizing: border-box;
            padding-right: 18px;
            text-align: left;
            width: 100%;
        }
    }
    .picto-arrow {
        width: 30px;
        height: 30px;
    }
    #fleche {
        right: 1px;
    }
    .hide_mobile {
        display: none;
    }
    .actu.actu-detail .linknext {
        float: left;
        margin-top: 20px;
    }
    .page-template-galerie .mainmetier .grid-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        float: none;
    }
    .ninja-forms-form-wrap input, .ninja-forms-form-wrap textarea, .ninja-forms-required-items {
        border: 1px solid grey;
    }
    .page-template-contact .mainmetier .ninja-forms-form-wrap .submit-wrap input, .page-template-espace-membre .mainmetier .ninja-forms-form-wrap .submit-wrap input, .page-template-galerie .mainmetier .ninja-forms-form-wrap .submit-wrap input {
        width: 100% !important;
    }
}