#filariane {
  margin-top: 0px;
  margin-bottom: 26px;
  background-color: #9d9e9e;
  z-index: 99;
  position: absolute;
  width: 100%;
      top: 0px;
}

.retour {
    width: 10%;
    float:left;
}

.ariane {
    color: black;
    font:300 13px / 14px 'Lato';
     float:left;
    width: 90%;
    margin-top: 15px;
}
.ariane a{
     color: black;
}
.breadcrumb {
  padding: 0px 0px;
  margin-bottom: 0px;
  list-style: none;
  background-color: transparent;
  border-radius: 0px;
}
.breadcrumb>.active {
  color: #b7b8b9;
    text-transform: uppercase;
} 