.sidebar {

    h3{
        border-top: 3px solid #e75d5d;
        color: #737373;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 30px;
        padding-top: 16px;
        text-align: center;  
    }
    li {
        margin-bottom: 20px;
        
        a {
            color:#e75d5d;
            font-size: 17px;
        
            &:hover {
                font-weight: bold;
            }
        }
    }

    .comment-author-link a{
        color:#777;
        
        &:hover {
            color:#e75d5d;    
            font-weight: normal;
        }
    }

}