//FOOTER



.footer {
    margin-bottom: 15px;
    padding-bottom: 25px;
    background-color:#222;
    color: white;
    padding-top: 15px;
    
    .container{
        overflow: hidden;
    }

    
    h6 {
        color: #e75d5d;
        font-family: 'Pacifico', cursive;
        font-size: 20px;
        margin-bottom: 20px;     
    }
    
    p {
        color: #ddd;
        font-family: Arial;
        font-size: 13px;
        font-weight: 400;
    }
    ul li a{ 
    font-size: 16px;
    font-family: 'Pacifico', cursive;
    display: block;
    padding: 8px;
    border: 1px solid #e75d5d;
    text-align: center; 
    color: white;
     -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s; 

        &:hover{
            border: 1px solid white;  
        }
    
    }



    .adresse {
        margin-bottom: 0;
        padding-top: 2px;
        padding-bottom: 0px;
    }
    .heure {
        margin-bottom: 0;
        padding-top: 2px;
        padding-bottom: 10px;
    }
    .telephone {
        margin-bottom: 0;
        padding-top: 2px;
        padding-bottom: 10px;
    }
    .mail {
        margin-bottom: 0;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .picto {
        margin-right: 9px;
        margin-bottom: 3px;
    }
    .picto-adress {
        margin-bottom: 8px;
    }
    
}