//HEADER

.logged-in {
    
    .menu-item-18, .menu-item-48 {
        display: none;
    }
    .espace-membre {
        display: inline-block;
    }
}


.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
.nav-haute{
    float: right;
    color: #ffffff;
    width: auto;
}
.haut {
    background-color: #222;
    
    > .container{
        padding-left: 0;
        padding-right: 0;
    }    
}

.nav-haute li a{
    color: white;
    text-transform: uppercase;
     font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
      -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
    margin-top: 0;
    margin-bottom: 0;
}
.espace-membre {
    display: none;
    color: white;
    text-transform: uppercase;
     font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
      -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 17px;
}
.name {
    color: #e75d5d;
    display: inline-block;
    margin-right: 30px;
}


.nav li {
    
    &:first-child {
        a {
            padding-left: 0;
        }
    }
    &:last-child {
        
        a {
            padding-right: 0;
        }
    }
}
.navbar-default{
    background-image:none !important;
    background: none;
    border: 0px white solid;
    box-shadow: none!important;
    overflow: hidden;
}
.navbar-default .navbar-nav>li>a {
  color: #222;
}
.navbar-default .navbar-nav>li>a:hover, .nav-haute li a:hover {
 color: #e75d5d;
}
.navbar-default .navbar-brand {
  color: black;
  float: none;
  height: auto;
  font-family: 'Pacifico', cursive;
  font-size: 38px;
  text-align: center;
  line-height: 30px;
  padding: 35px 0;
  margin-left: 0px;
}
.navbar-collapse{
  float: right;
  margin-top: 18px;
}
.navbar-nav>li {
      height: 57px;
    position: inherit;
}
.navbar-nav>li>a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
      padding-top: 0px;
  padding-bottom: 0px;
    display: block;
      -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.navbar-nav {
  float: left;
  margin: 0;
   margin-top: 15px;
      width: 100%;
}
.navbar-nav .current-menu-item a{
    color:#e75d5d !important;
}

.navbar-nav>.current-menu-parent>a{
    color: #a03c72!important; 
}

.nav-haute .current_page_item a {
   color: #e75d5d!important;
}

.nav-haute li{
    float: left;
}

.navbar {
  position: static;
    margin-bottom: 0px !important;
      -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.navbar .container{
    max-width: 100%;
      min-height: 90px;
  max-height: 90px;
}
.navbar-header{
     width: 250px;
    float: left !important;
    margin-bottom: 0px !important;
    margin-top: 13px;
    height: 85px;
    box-sizing: border-box;
    padding-left: 14px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0px;
}

.navbar-toggle {
  margin-top: 20px;
  margin-right: 20px;
}
.navbar-fixed-top {
    position: relative;
}