//HEADER
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
.nav-haute{
    float: right;
    color: #ffffff;
    width: auto;
}
.haut {
    background-color: #222;
}

.nav-haute li a{
    color: white;
    text-transform: uppercase;
     font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
      -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
    margin-top: 0;
    margin-bottom: 0;
}
.nav li {
    
    &:first-child {
        a {
            padding-left: 0;
        }
    }
    &:last-child {
        
        a {
            padding-right: 0;
        }
    }
}
.navbar-default{
 background-image:none !important;
  background: none;
    border: 0px white solid;
    box-shadow: none!important;
    overflow: hidden;
    
    > .container {
        padding-left: 0;
        padding-right: 0;
    }
}
.navbar-default .navbar-nav>li>a {
  color: #222;
}
.navbar-default .navbar-nav>li>a:hover, .nav-haute li a:hover {
 color: #e75d5d;
}
.navbar-brand {
  float: none;
  height: auto;
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
  font-size: 18px;
  line-height: 20px;
}
.navbar-collapse{
  float: right;
  margin-top: 18px;
}
.navbar-nav>li {
      height: 57px;
    position: inherit;
}
.navbar-nav>li>a {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
      padding-top: 0px;
  padding-bottom: 0px;
    display: block;
      -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.navbar-nav {
  float: left;
  margin: 0;
   margin-top: 15px;
      width: 100%;
}
.navbar-nav .current-menu-item a{
    color:#e75d5d !important;
}

.navbar-nav>.current-menu-parent>a{
    color: #a03c72!important; 
}

.nav-haute .current_page_item a {
   color: #e75d5d!important;
}

.nav-haute li, .navbas-droite li{
    float: left;
     margin-right: 5%;
}

.navbar {
  position: static;
    margin-bottom: 0px !important;
      -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.navbar .container{
    max-width: 100%;
      min-height: 90px;
  max-height: 90px;
}
.navbar-header{
  width: 250px;
  float: left!important;
  margin-bottom: 0px!important;
  height: 80px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0px;
}

.navbar-toggle {
  margin-top: 20px;
  margin-right: 20px;
}
.navbar-fixed-top {
    position: relative;
}