.milieu {
    margin-bottom: 25px;
}

.push {
    box-sizing: border-box;
    -moz-box-shadow: 2px 2px 15px 0px #000000;
    -webkit-box-shadow: 2px 2px 15px 0px #000000;
    -o-box-shadow: 2px 2px 15px 0px #000000;
    box-shadow: 2px 2px 15px 0px #000000;
    position: relative;
    width: 32%;
    margin-right: 2%;
    
    &.pushleft {
        background-color: #e75d5d;
    }
    &.pushmiddle {
        background-color: #F4A743;
    }
    &.pushright {
        background-color: #5eb28f;
    }
    &:last-child {
        margin-right: 0;
    }
}
.push h3{
    font-family: 'Pacifico', cursive;
    font-size: 23px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 0px;
}
.sousmilieu {
    overflow: visible;
    position: relative;
    
    >.row {
        position: absolute;
        top: -180px;
        width: 100%;
        z-index: 99;
    }
}
.pushimg {
    width:57%;
    margin: 0 auto;
}
.pushimg img{
 width: 100%; 
}
.pushtext {
   width: 100%;
  margin: 0 auto;
  color: white;
  font: 700 14px / 18px 'Lato';
  padding-bottom: 25px;
 
}
.pushtext p{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
}
.pushtext span{
 display: none;
      margin-top: 24px;
}
.pushtext span a{
    display: block;
       padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    background-color: #04475c;
      -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
     margin: 0 auto;
      width: 101px;
    border:1px solid #04475c;
}
.pushtext span a:hover{
    background-color: white;
    color: #04475c;
    border:1px solid #04475c;
}
.traitblanc {
    border: 1px solid white;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}


.push a{
    display: block;
}
