.slider {
   position: relative;
}
.tint {
    background: rgba(0,0,0,0.2);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.welcome {
    color: #fff;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    width: 100%;
    -webkit-transform: translateY(-33%);
    -moz-transform: translateY(-33%);
    -ms-transform: translateY(-33%);
    -o-transform: translateY(-33%);
    transform: translateY(-33%);
    
    h2 {
        color: #fff;
        font-family: 'Pacifico', cursive;
        font-size: 59px;
        margin: 0 30px;
        text-align: center;
    }
}


.milieu {
    margin-bottom: 25px;
}

.push {
    box-sizing: border-box;
    -moz-box-shadow: 2px 2px 15px 0px #000000;
    -webkit-box-shadow: 2px 2px 15px 0px #000000;
    -o-box-shadow: 2px 2px 15px 0px #000000;
    box-shadow: 2px 2px 15px 0px #000000;
    position: relative;
    width: 32%;
    margin-right: 2%;
    
    &.pushleft {
        background-color: #e75d5d;
    }
    &.pushmiddle {
        background-color: #F4A743;
    }
    &.pushright {
        background-color: #5eb28f;
    }
    &:last-child {
        margin-right: 0;
    }
}
.push h2{
    font-family: 'Pacifico', cursive;
    font-size: 23px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 70px;
    margin-top: 0px;
}
.sousmilieu {
    overflow: visible;
    position: relative;
      
    >.row {
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        position: absolute;
        top: -220px;
        width: 100%;
        z-index: 101;
    }
}
.pushimg {
    background-color: white;
    border-radius: 120px;
    margin-left: -60px;
    overflow: hidden;
    position: absolute;
    top: -65px;
    left: 50%;
    width: 120px;
    height: 120px;
    
    .picto-ours {
        margin-top: 10px;
        margin-left: 10px;
    }
    .picto-castle {
        margin-top: 10px;
        margin-left: 15px;
    }
    .picto-parents {
        margin-top: 15px;
        margin-left: 15px;
    }
}
.pushimg img{
 width: 100%; 
}
.pushtext {
   width: 100%;
  margin: 0 auto;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 20px;
 
}
.pushtext p{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
}
.pushtext span{
 display: none;
      margin-top: 24px;
}
.pushtext span a{
    display: block;
       padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    background-color: #04475c;
      -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
     margin: 0 auto;
      width: 101px;
    border:1px solid #04475c;
}
.pushtext span a:hover{
    background-color: white;
    color: #04475c;
    border:1px solid #04475c;
}
.traitblanc {
    border: 1px solid white;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}


.push a{
    display: block;
}


.bas {  
    margin-top: 60px;
    padding-bottom: 50px;
    overflow: hidden;
    
    h3 {
        color: #e75d5d;
        font-family: 'Pacifico', cursive;
        font-size: 35px;
        margin-bottom: 30px;
        text-align: center;
    }
    p {
        color: #888888;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 400;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        width: 80%;
    }
}

.actu {
    background-image: url(../img/html/background.png);
    background-position: bottom center;
    background-repeat: repeat-x;
    background-color: #e75d5d;
    overflow: hidden;
    padding-bottom: 25px;
    
    .actumain{
        margin: auto;
        float: none;
    }
    
    h4 {
        color: #fff;
        font-family: 'Pacifico', cursive;
        font-size: 35px;
        margin-bottom: 30px;
        margin-top: 30px;
        text-align: center;
    }
    h5 a{
        color: #222;
        font-family: 'Pacifico', cursive;
        font-size: 24px;
        margin-bottom: 20px;
        text-align: left;
        
        &:hover {
            color: #fff;
        }
    }
    
    .actu-item {
        box-sizing: border-box;
        border-right: 1px solid white;
        border-top: 1px solid white;
        padding: 10px;
        overflow: hidden;
        margin-bottom: 25px;
        width: 100%;
    }
    
    .actuimg {
        background-color: transparent;
        box-sizing: border-box;
        float: left;
        min-height: 150px;
        width: 30%;
        margin-right: 5%;
        
        .transparent { 
            background-color: rgba(255,255,255, 0.5);
        }
        
        img {
            max-width: 100%;
            width: 100%;
            height: auto;
        }
    }
    .actutext {
        box-sizing: border-box;
        float: left;
        width: 65%;
        
        p {
           color: #fff;  
           font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            font-weight: 400;
        }
    }
    .read-more {
        color: #fff;
    }
        
}
.map {
    padding-top: 10px;
        
    h6 {
        color: #222;
        font-family: 'Pacifico', cursive;
        font-size: 35px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }
        
}