.mainmetiertext {
    margin-top: 50px;
    margin-bottom: 50px;
    
    &:first-child {
        margin-top: 30px;
    }
} 

.aside {
    margin-top: 34px;
}


#navbarside {

    ul.nav {
        li {
            
            &.active {
                
                a {
                    color: #e75d5d; 
                }
            }
            a {
               border-top: 1px solid #ddd;
               color: #888;
               display: block;
               padding: 10 25px;
               position: relative;
                 
                &:first-child {
                    padding-left: 10px;
                }
                &:hover {
                     color: #e75d5d; 
                    
                    i {
                        right: 15px;
                    }
                }
                i {
                    position: absolute;
                    right: 10px;
                    top: 12px;
                    transition: all .5s ease;
                    -moz-transition: all .5s ease;
                    -webkit-transition: all .5s ease;
                    -o-transition: all .5s ease;
                }
            }
        
        }
        .fa {
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

    }
    
    .actu-side {
        h3 {
               border-top: 3px solid #e75d5d;
               color: #737373;
               font-size: 18px;
               margin-top: 15px;
               margin-bottom: 20px;
               padding-top: 10px;
               text-align: center;
        }
        h4 {
            a {
                color: #e75d5d;
                
                &:hover {
                    font-weight: bold;
                }
            }
        }
        p {
            font-size: 13px;
        }
   /*     img {
           display: block;
           margin: auto; 
           margin-bottom: 10px;
           width: auto;
           height: auto;
           max-height: 100px;
        }*/
    }
}

.button {
            background-color: #e75d5d; 
            border: 1px solid transparent; 
            box-sizing: border-box;
            color: white;
            display: block;
            font-size: 18px;
            line-height: 24px;
            margin: auto;
            margin-top: 40px;
            padding: 12px 0;
            text-align: center;
            width: 300px;
            
            &:hover {
                background-color: white;
                border: 1px solid #e75d5d; 
                color: #e75d5d; 
                font-weight: normal;
            }
}
.page-template-structure, .page-template-login, .page-template-actualites, .single-post, .search, .page-template-contact {
    
    
    .background {
        background-image: url(../img/html/background.png);
        background-position: bottom center;
        background-repeat: repeat-x;
        background-color: #e75d5d;
    }
    h1 {
        color: #fff;
        font-family: 'Pacifico', cursive;
        font-size: 36px;
        text-align: center;
        padding: 35px 0;
    }
    h2 {
        font-size: 26px;
        font-weight: 300;
        margin-bottom: 25px;
    }
    .equipe {
        
         h2 {
            margin-bottom: 50px;
        }
    }
    img {
        margin-bottom: 15px;
    }
    .slidertemoin {
        
        h3 {
            font-size: 22px;
            text-align: center;
        }
    }

    &.page-id-30 {
        
        .background {
            background-color: #F4A743;
        }
    }
    &.page-id-32 {
        
        .background {
            background-color: #5eb28f;
        }
    }
    &.page-id-16, &.page-id-34 {
        
        .background {
            background-color: #337ab7;
        }
    }
    
    .actu {
        background: none;
        
        h2 {
            margin-top: 0;
        }
        .actumain {
            padding-top: 30px;
            float: left; 
        }
        .actu-item {
            border-bottom: 1px solid #bbb;
            margin-bottom: 50px;
            padding-bottom: 30px;
            padding-top: 0;
        }
        .searchform {
            
            label {
                display: none;
            }
            #searchsubmit {
                background-color: #e75d5d; 
                border: 1px solid transparent; 
                color: white;
                height: 30px;
                
                &:hover {
                    background-color: white;
                    border: 1px solid #e75d5d; 
                    color: #e75d5d; 
                }
            }
            input {
                border: 1px solid #bbb;
                height: 30px;
            }
        }
        h2 a{
            color: #e75d5d; 
            font-family: 'Pacifico', cursive;
            font-size: 28px;
            margin-bottom: 20px;
            text-align: left;
        }
        .actutext {
            float: none;
            width: 100%;
            
            p {
                color: black;
            }
        }
        .actuimg {
            background-color: transparent;
            float: none;
            min-height: 0px;
            width: 100%;
            margin-right: 0;
        }
        .author, .comments {
            margin-left: 6px;
        }
        .glyphicon-user {
            margin-right: 4px;
        }
        .glyphicon-comment {
            margin-right: 2px;
        }
        .details {
            color: #bbb;
            margin-bottom: 30px;
        }
        .read-more {
            background-color: #e75d5d; 
            border: 1px solid transparent; 
            box-sizing: border-box;
            display: block;
            margin-top: 25px;
            padding: 12px 0;
            text-align: center;
            width: 116px;
            
            &:hover {
                background-color: white;
                border: 1px solid #e75d5d; 
                color: #e75d5d; 
                font-weight: normal;
            }
        }
    }
}

#loginform {
    margin: auto;
    width: 50%;
    
    label, input {
        display: block;
        margin: auto;
        width: 300px;
    }
    label {
        color: #737373;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    input {
        height: 30px;
        border: 1px solid #737373;
        text-indent: 5px;
    }
    .login-remember {
        margin: auto;
        margin-bottom: 25px;
        width: 300px;
        
        label, input {
            display: inline-block;
            margin: auto;
            vertical-align: middle;
            width: auto;
        }
        input {
            margin-bottom: 2px;
            margin-right: 6px;
        }
    }
    #wp-submit {
        background-color: #337ab7;
        color: white;
        font-size: 18px;
        height: 40px;
        
        &:hover {
            background-color: white;
            color: #337ab7;
        }
    }
}
.bottom-link {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    width: 50%;
    
    a {
        color: #e75d5d;
    }
}

.error {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 500px;
    text-align: center;
    
    a {
        background-color: #e75d5d; 
        border: 1px solid transparent; 
        box-sizing: border-box;
        color: white;
        display: block;
        margin: auto;
        margin-top: 50px;
        padding: 10px 0;
        width: 160px;
        
         &:hover {
            background-color: white;
            border: 1px solid #e75d5d; 
            color: #e75d5d; 
            font-weight: normal;
        }
    }
}