.mainmetiertext {
    margin-top: 50px;
    margin-bottom: 50px;
    
    &:first-child {
        margin-top: 30px;
    }
} 

.aside {
    margin-top: 34px;
}


#navbarside {

    ul.nav {
        li {
            
            &.active {
                
                a {
                    color: #e75d5d; 
                }
            }
            a {
               border-top: 1px solid #ddd;
               color: #888;
               display: block;
               padding: 10 25px;
               position: relative;
                 
                &:first-child {
                    padding-left: 10px;
                }
                &:hover {
                     color: #e75d5d; 
                    
                    i {
                        right: 15px;
                    }
                }
                i {
                    position: absolute;
                    right: 10px;
                    top: 12px;
                    transition: all .5s ease;
                    -moz-transition: all .5s ease;
                    -webkit-transition: all .5s ease;
                    -o-transition: all .5s ease;
                }
            }
        
        }
        .fa {
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

    }
    
    .actu-side {
        h3 {
               border-top: 3px solid #e75d5d;
               color: #737373;
               font-size: 18px;
               margin-top: 15px;
               margin-bottom: 20px;
               padding-top: 10px;
               text-align: center;
        }
        h4 {
            a {
                color: #e75d5d;
                
                &:hover {
                    font-weight: bold;
                }
            }
        }
        p {
            font-size: 13px;
        }
   /*     img {
           display: block;
           margin: auto; 
           margin-bottom: 10px;
           width: auto;
           height: auto;
           max-height: 100px;
        }*/
    }
}

.button {
            background-color: #e75d5d; 
            border: 1px solid transparent; 
            box-sizing: border-box;
            color: white;
            display: block;
            font-size: 18px;
            line-height: 24px;
            margin: auto;
            margin-top: 40px;
            padding: 12px 0;
            text-align: center;
            width: 300px;
            
            &:hover {
                background-color: white;
                border: 1px solid #e75d5d; 
                color: #e75d5d; 
                font-weight: normal;
            }
            &:focus {
                color: white;
            }
        
}
.page-template-structure, .page-template-login, .page-template-actualites, .single-post, .search, .page-template-contact, .page-template-espace-membre, .page-template-galerie {
    
    
    .background {
        background-image: url(../img/html/background.png);
        background-position: bottom center;
        background-repeat: repeat-x;
        background-color: #e75d5d;
    }
    h1 {
        color: #fff;
        font-family: 'Pacifico', cursive;
        font-size: 36px;
        text-align: center;
        padding: 35px 0;
    }
    h2 {
        font-size: 26px;
        font-weight: 300;
        margin-bottom: 25px;
    }
    .equipe {
        
         h2 {
            margin-bottom: 50px;
        }
    }
    img {
        margin-bottom: 15px;
    }
    .slidertemoin {
        
        h3 {
            font-size: 22px;
            text-align: center;
        }
    }

    &.page-id-30 {
        
        .background {
            background-color: #F4A743;
        }
    }
    &.page-id-32 {
        
        .background {
            background-color: #5eb28f;
        }
    }
    &.page-id-16, &.page-id-34 {
        
        .background {
            background-color: #337ab7;
        }
    }
    
    .actu {
        background: none;
        
        h2 {
            margin-top: 0;
        }
        .actumain {
            padding-top: 30px;
            float: left; 
        }
        .actu-item {
            border-bottom: 1px solid #bbb;
            margin-bottom: 50px;
            padding-bottom: 30px;
            padding-top: 0;
        }
        .searchform {
            
            label {
                display: none;
            }
            #searchsubmit {
                background-color: #e75d5d; 
                border: 1px solid transparent; 
                color: white;
                height: 30px;
                
                &:hover {
                    background-color: white;
                    border: 1px solid #e75d5d; 
                    color: #e75d5d; 
                }
            }
            input {
                border: 1px solid #bbb;
                height: 30px;
            }
        }
        h2 a{
            color: #e75d5d; 
            font-family: 'Pacifico', cursive;
            font-size: 28px;
            margin-bottom: 20px;
            text-align: left;
        }
        .actutext {
            float: none;
            width: 100%;
            
            p {
                color: black;
            }
        }
        .actuimg {
            background-color: transparent;
            float: none;
            min-height: 0px;
            width: 100%;
            margin-right: 0;
        }
        .author, .comments {
            margin-left: 6px;
        }
        .glyphicon-user {
            margin-right: 4px;
        }
        .glyphicon-comment {
            margin-right: 2px;
        }
        .details {
            color: #bbb;
            margin-bottom: 30px;
        }
        .read-more {
            background-color: #e75d5d; 
            border: 1px solid transparent; 
            box-sizing: border-box;
            display: block;
            margin-top: 25px;
            padding: 12px 0;
            text-align: center;
            width: 116px;
            
            &:hover {
                background-color: white;
                border: 1px solid #e75d5d; 
                color: #e75d5d; 
                font-weight: normal;
            }
        }
    }
}
.othercontact {
    margin-top: 50px;
    
    h3 {
        margin-bottom: 35px;
    }
}

#loginform {
    margin: auto;
    width: 50%;
    
    label, input {
        display: block;
        margin: auto;
        width: 300px;
    }
    label {
        color: #737373;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    input {
        height: 30px;
        border: 1px solid #737373;
        text-indent: 5px;
    }
    .login-remember {
        margin: auto;
        margin-bottom: 25px;
        width: 300px;
        
        label, input {
            display: inline-block;
            margin: auto;
            vertical-align: middle;
            width: auto;
        }
        input {
            margin-bottom: 2px;
            margin-right: 6px;
        }
    }
    #wp-submit {
        background-color: #337ab7;
        color: white;
        font-size: 18px;
        height: 40px;
        
        &:hover {
            background-color: white;
            color: #337ab7;
        }
    }
}
.bottom-link {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    width: 50%;
    
    a {
        color: #e75d5d;
        
        &:hover {
           color: #337ab7; 
        }
    }
    .reset-link {
        margin-top: 10px;
    }
}

.error {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 500px;
    text-align: center;
    
    a {
        background-color: #e75d5d; 
        border: 1px solid transparent; 
        box-sizing: border-box;
        color: white;
        display: block;
        margin: auto;
        margin-top: 50px;
        padding: 10px 0;
        width: 160px;
        
         &:hover {
            background-color: white;
            border: 1px solid #e75d5d; 
            color: #e75d5d; 
            font-weight: normal;
        }
    }
} 

.page-template-contact, .page-template-espace-membre, .page-template-galerie {
    
    .aside {
        margin-top: 10px;
        
        #navbarside .actu-side h3 {
            border-top: 3px solid #337ab7;
        }
        #navbarside .actu-side h4 a {
            color: #337ab7;
        }
        
        h4 {
            color: #337ab7; 
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 300;
            
            &.telephone {
                margin-top: 18px;
            }
        }
        div.heure, div.adresse, div.telephone, div.mail {
            margin-bottom: 25px;
        }
        .picto {    
            margin-right: 7px;
        }
        .picto-adress-black {
           vertical-align: text-bottom;
        }
        .picto-phone-black, .picto-email-black {
           vertical-align: text-bottom;
        }
        .read-more:hover {
             color: #337ab7; 
        }
    }
    .mainmetier {
         padding-bottom: 50px;
        
        .nf-form-fields-required {
            margin-bottom: 15px;
            margin-top: 30px;
        }
        .ninja-forms-form-wrap .submit-wrap input {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #337ab7;
            background-color: white;
            padding: 9px 21px 9px 21px;
            width: 20% !important;
            border: 1px solid #337ab7;
            
            &:hover {
                background-color: #337ab7;
                color: white;
                border: 1px solid #337ab7;
            }
        }
    }
}
.page-template-espace-membre {
    #espace {
        color: #e75d5d; 
    }
}
.page-template-galerie {
    #galerie {
        color: #e75d5d; 
    }
}
.page-template-espace-membre,.page-template-galerie {
    .aside {
     h4 {
        color: #e75d5d; 
    }
     #navbarside .actu-side h3 {
        border-top: 3px solid #e75d5d;
    }
    #navbarside .actu-side h4 a {
        color: #e75d5d;
    }
    .read-more:hover {
        color: #e75d5d; 
    }
    }
    
    .mainmetier {
        overflow: hidden;
        
        .fichier {
            float: left;
            margin-bottom: 25px;
            width: 50%;
        }
        .button {
            margin: 0;
            margin-top: 40px;
            
            &.center {
                margin-top: 50px;
                margin: auto;
            }
        }
        
        .partage-photo {
            margin-bottom: 45px;
            margin-top: 45px;
            
            p {
                color: #737373;
                font-size: 15px;
                margin-top: 50px;
            }
            input[type=text].file_input_textbox {
                border: 1px solid #e75d5d; 
                margin-top: 20px;
                margin-left: 20px;
                margin-right: 20px;
                text-align: center;
                width: 200px;
                height: 50px;
            }
            input[type=button].file_input_button, .button-galerie {
                border: 1px solid #e75d5d; 
                background-image: none;
                background-color: white;
                color: #e75d5d;
                cursor: pointer;
                width: 200px;
                height: 50px;
                position: relative;
            }
            .file_input_button_hover {
                background-image: none;
                background-color: #e75d5d;
                border: 1px solid #e75d5d; 
                color: white;
                cursor: pointer;
                width: 200px;
                height: 50px;
            }
            form.file_input_uploadform {
                margin-top: 20px;
                height: 50px;
                width: 200px;
            }
            input[type=button].file_input_submit {
                border: 1px solid #e75d5d; 
                background-image: none;
                margin-top: 20px;
                width: 200px;
                height: 50px;
            }
           div.file_div_clean {
               margin-bottom: 8px;
           }
           .button-galerie {
                border: 1px solid #e75d5d; 
                background-image: none;
                background-color: white;
                color: #e75d5d;
                cursor: pointer;
                width: 200px;
                height: 50px;
                position: relative;
                display: block;
                text-align: center;
                line-height: 50px;
               
               &:hover {
                   background-color: #e75d5d;
                   border: 1px solid #e75d5d; 
                   color: white;
               }
            }
        }
        .grid-item {
            width: 32%;
            margin-right: 1%;
            float: left;
       -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;

            img {
                display: block;
                width: 100%;
            }
        }

    }
}

@media screen and (max-width: 995px) {
    
    .page-template-espace-membre {
        
        .mainmetier {
            
            .fichier {
                width: 100%;
            }
        }
    }
}